[Unit]
Description=parse and send logs to zabbix
After=network.target auditd.service

[Service]
Type=simple
Restart=always
RestartSec=5
User=webproxy
Group=webproxy
ExecStart=/opt/log-parser
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
